@font-face {
  font-family: gothams;
  src: url(../fonts/GothamPro-Light.woff);
  font-weight: 100; }
@font-face {
  font-family: gothams;
  src: url(../fonts/GothamPro-Medium.woff);
  font-weight: normal; }
@font-face {
  font-family: gothams;
  src: url(../fonts/GothamPro-Bold.woff);
  font-weight: bold; }
@font-face {
  font-family: gothams;
  src: url(../fonts/GothamPro-Black.woff);
  font-weight: 900; }
body {
  width: 100%;
  font-family: 'gothams';
  background-color: #E3E3E3; }

.banner-btn {
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7px 25px; }
  .banner-btn:hover {
    background-color: #ffffff;
    color: #6C65AD;
    transition: 0.3s ease; }

.divider {
  display: block;
  height: 100px; }

.view-all {
  text-align: center;
  padding-top: 20px; }
  .view-all a {
    text-decoration: underline;
    color: #6C65AD;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.3s ease; }
    .view-all a:hover {
      color: #6585C3; }

.main-header {
  margin-bottom: 40px;
  padding: 0;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  color: #6C65AD;
  text-transform: uppercase; }

.hero-content {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #6C65AD, #6585C3);
  background-color: #6C65AD;
  width: 100%;
  position: relative; }
  .hero-content header {
    background-image: none !important;
    background-color: transparent !important; }
  .hero-content .hero-banner {
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%; }
    .hero-content .hero-banner .banner-content {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
      overflow: hidden;
      display: flex;
      align-items: center;
      flex-direction: row-reverse; }
      .hero-content .hero-banner .banner-content .hero-right-content {
        flex-basis: 50%;
        text-align: center; }
        .hero-content .hero-banner .banner-content .hero-right-content img {
          display: inline-block;
          width: 100%;
          max-width: 330px; }
      .hero-content .hero-banner .banner-content .hero-left-content {
        flex-basis: 50%;
        padding: 0px 20px; }
        .hero-content .hero-banner .banner-content .hero-left-content h2 {
          font-size: 45px;
          font-weight: 900;
          color: #ffffff;
          text-transform: uppercase; }
        .hero-content .hero-banner .banner-content .hero-left-content p {
          font-size: 20px;
          font-weight: normal;
          color: #ffffff; }

header {
  background-image: linear-gradient(to bottom right, #6C65AD, #6585C3);
  background-color: #6C65AD;
  padding: 0 15px;
  overflow: hidden; }
  header .left-header {
    float: left;
    padding: 18px 0px; }
    header .left-header .logo img {
      width: 170px; }
  header .right-header {
    float: right;
    padding: 22px 0; }
    header .right-header ul {
      padding: 0;
      margin: 0; }
      header .right-header ul li {
        list-style: none;
        float: left;
        padding: 0 20px; }
        header .right-header ul li a {
          color: #fff;
          font-size: 15px;
          font-weight: 900;
          text-transform: uppercase; }
          header .right-header ul li a:hover {
            text-decoration: none; }
        header .right-header ul li:first-child {
          padding-left: 0; }
        header .right-header ul li:nth-last-child(2) {
          padding-right: 0; }
        header .right-header ul li button {
          padding: 0;
          margin: 0;
          background: transparent;
          border: none;
          color: #fff;
          cursor: pointer; }
          header .right-header ul li button:focus {
            outline: none; }
      header .right-header ul .menu-icon {
        display: none; }

.max-container {
  padding: 0 15px;
  max-width: 1366px;
  margin: 0 auto; }

.search-bar {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  top: 0;
  left: 0;
  display: none; }
  .search-bar .search-box {
    width: 100%;
    background-image: linear-gradient(to bottom right, #6C65AD, #6585C3);
    background-color: #6C65AD;
    padding: 21px 0;
    height: 68px; }
    .search-bar .search-box .search-textbox {
      position: relative; }
      .search-bar .search-box .search-textbox .search-text {
        width: 100%;
        background: transparent;
        border: none;
        color: #ffffff;
        font-size: 18px;
        padding-right: 65px; }
        .search-bar .search-box .search-textbox .search-text:focus {
          outline: none; }
        .search-bar .search-box .search-textbox .search-text::placeholder {
          color: rgba(255, 255, 255, 0.66);
          font-style: italic;
          font-weight: 100; }
      .search-bar .search-box .search-textbox .search-btns {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%); }
        .search-bar .search-box .search-textbox .search-btns ul {
          padding: 0;
          margin: 0; }
          .search-bar .search-box .search-textbox .search-btns ul li {
            float: left;
            list-style: none;
            padding: 0 8px; }
            .search-bar .search-box .search-textbox .search-btns ul li button {
              padding: 0;
              margin: 0;
              background: transparent;
              border: none;
              color: #fff;
              cursor: pointer;
              font-size: 18px; }
              .search-bar .search-box .search-textbox .search-btns ul li button:focus {
                outline: none; }

.responsive-menubar {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #6C65AD, #6585C3);
  background-color: #6C65AD;
  display: none; }
  .responsive-menubar .responsive-menus {
    width: 100%;
    padding-top: 200px; }
    .responsive-menubar .responsive-menus ul {
      padding: 0;
      margin: 0;
      width: 100%; }
      .responsive-menubar .responsive-menus ul li {
        width: 100%;
        list-style: none;
        text-align: center; }
        .responsive-menubar .responsive-menus ul li a {
          display: block;
          font-size: 18px;
          font-weight: bold;
          color: #ffffff;
          padding: 15px 0; }
          .responsive-menubar .responsive-menus ul li a:hover {
            text-decoration: none;
            opacity: 0.8; }
  .responsive-menubar .close-menu-btn {
    float: right;
    padding-top: 20px; }
    .responsive-menubar .close-menu-btn .close-menu {
      padding: 0;
      margin: 0;
      background: transparent;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 18px; }
      .responsive-menubar .close-menu-btn .close-menu:focus {
        outline: none; }

.main-lists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-item: flex-start;
  justify-content: space-between; }
  .main-lists .item {
    flex-basis: 30%;
    overflow: hidden;
    padding-bottom: 20px; }
    .main-lists .item .left-list-content {
      width: 105px;
      height: 105px;
      border-radius: 10px;
      background-color: #fff;
      position: relative;
      overflow: hidden;
      float: left; }
      .main-lists .item .left-list-content img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0; }
    .main-lists .item .right-list-content {
      float: left;
      width: calc(100% - 105px);
      padding-left: 10px; }
      .main-lists .item .right-list-content h4 {
        font-weight: 900;
        font-size: 20px;
        color: #6C65AD; }
      .main-lists .item .right-list-content p {
        color: #909090;
        font-size: 14px; }

.get-started-banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center; }
  .get-started-banner .get-started-body {
    text-align: center;
    padding: 100px 0; }
    .get-started-banner .get-started-body h2 {
      font-size: 30px;
      font-weight: 900;
      color: #ffffff; }
    .get-started-banner .get-started-body p {
      font-size: 18px;
      font-weight: 100;
      color: white;
      line-height: 34px;
      max-width: 640px;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 25px; }

/*# sourceMappingURL=base.css.map */
