@font-face {
    font-family: gothams;
    src: url(../fonts/GothamPro-Light.woff);
    font-weight: 100;
}

@font-face {
    font-family: gothams;
    src: url(../fonts/GothamPro-Medium.woff);
    font-weight: normal;
}

@font-face {
    font-family: gothams;
    src: url(../fonts/GothamPro-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: gothams;
    src: url(../fonts/GothamPro-Black.woff);
    font-weight: 900;
}

body{
	width: 100%;
	font-family: 'gothams';
	background-color: #E3E3E3;
}

$theme-col: #6C65AD;
$theme-col2: #6585C3;
$gradient: linear-gradient(to bottom right, #6C65AD, #6585C3);

.banner-btn{
	border: 2px solid #ffffff;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 7px 25px;
	&:hover{
		background-color: #ffffff;
		color: $theme-col;
		transition: 0.3s ease;
	}
}

.divider{
	display: block;
	height: 100px;
}

.view-all{
	text-align: center;
	padding-top: 20px;
	a{
		text-decoration: underline;
		color: $theme-col;
		font-size: 20px;
		font-weight: bold;
		display: inline-block;
		text-transform: uppercase;
		transition: 0.3s ease;
		&:hover{
			color: $theme-col2;
		}
	}
}

.main-header{
	margin-bottom: 40px;
	padding: 0;
	font-size: 32px;
	text-align: center;
	font-weight: bold;
	color: $theme-col;
	text-transform: uppercase;
}

// css for header
.hero-content{
	min-height: 100vh;
	background-image: $gradient;
	background-color: $theme-col;
	width: 100%;
	position: relative;
	header{
		background-image: none!important;
		background-color: transparent!important;
	}

	.hero-banner{
		overflow: hidden;
		position: absolute;
	    top: 50%;
    	transform: translateY(-50%);
		left: 0;
		width: 100%;

		.banner-content{
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 15px;
			overflow: hidden;
			display: flex;
			align-items:center;
			flex-direction: row-reverse;
			.hero-right-content{
				flex-basis: 50%;
				text-align: center;

				img{
					display: inline-block;
					width: 100%;
					max-width: 330px;
				}
			}

			.hero-left-content{
				flex-basis: 50%;
				padding: 0px 20px;

				h2{
					font-size: 45px;
					font-weight: 900;
					color: #ffffff;
					text-transform: uppercase;
				}

				p{
					font-size: 20px;
					font-weight: normal;
					color: #ffffff;
				}
			}
		}
	}
}

header{
	background-image: $gradient;
	background-color: $theme-col;
	padding: 0 15px;
	overflow: hidden;

	.left-header{
		float: left;
		padding: 18px 0px;
		.logo{
			img{
				width: 170px;
			}
		}
	}

	.right-header{
		float: right;
		padding: 22px 0;

		ul{
			padding: 0;
			margin: 0;
			li{
				list-style: none;
				float: left;
				padding: 0 20px;

				a{
					color: #fff;
					font-size: 15px;
					font-weight: 900;
					text-transform: uppercase;
					&:hover{
						text-decoration: none;
					}
				}
				&:first-child{
					padding-left: 0;
				}
				&:nth-last-child(2){
					padding-right: 0;
				}

				button{
					padding: 0;
					margin: 0;
					background: transparent;
					border: none;
					color: #fff;
					cursor: pointer;
					&:focus{
						outline: none;
					}
				}
			}
			.menu-icon{
				display: none;
			}
		}
	}
}
.max-container{
	padding: 0 15px;
	max-width: 1366px;
	margin: 0 auto;
}

.search-bar{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.55);
	top: 0;
	left: 0;
	display: none;

	.search-box{
		width: 100%;
		background-image: $gradient;
		background-color: $theme-col;
		padding: 21px 0;
		height: 68px;
		.search-textbox{
			position: relative;
			.search-text{
				width: 100%;
				background: transparent;
				border: none;
				// border-bottom: 2px solid #ffffff;
				color: #ffffff;
				font-size: 18px;
				padding-right: 65px;
				&:focus{
					outline: none;
				}
				&::placeholder{
					color: rgba(255, 255, 255, 0.66);
					font-style: italic;
					font-weight: 100;
				}
			}

			.search-btns{
				position: absolute;
				right: 0;
				top: 50%;
			    transform: translateY(-50%);

				ul{
					padding: 0;
					margin: 0;
					li{
						float: left;
						list-style: none;
						padding: 0 8px;

						button{
							padding: 0;
							margin: 0;
							background: transparent;
							border: none;
							color: #fff;
							cursor: pointer;
							font-size: 18px;
							&:focus{
								outline: none;
							}
						}
					}
				}
			}
		}
	}
}

// responsive menus
.responsive-menubar{
	z-index: 99;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: $gradient;
	background-color: $theme-col;
	display: none;

	.responsive-menus{
		width: 100%;
		padding-top: 200px;

		ul{
			padding: 0;
			margin: 0;
			width: 100%;
			li{
				width: 100%;
				list-style: none;
				text-align: center;

				a{
					display: block;
					font-size: 18px;
					font-weight: bold;
					color: #ffffff;
					padding: 15px 0;
					&:hover{
						text-decoration: none;
						opacity: 0.8;
					}
				}
			}
		}
	}
	
	.close-menu-btn{
		float: right;
		padding-top: 20px;
		.close-menu{
			padding: 0;
			margin: 0;
			background: transparent;
			border: none;
			color: #fff;
			cursor: pointer;
			font-size: 18px;
			&:focus{
				outline: none;
			}
		}
	}
}



// items lists css
.main-lists{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-item: flex-start;
	justify-content: space-between;

	.item{
		flex-basis: 30%;
		overflow: hidden;
		padding-bottom: 20px;
		.left-list-content{
			width: 105px;
			height: 105px;
			border-radius: 10px;
			background-color: #fff;
			position: relative;
			overflow: hidden;
			float: left;
			img{
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
			}
		}
		.right-list-content{
			float: left;
			width: calc(100% - 105px);
			padding-left: 10px;
			h4{
				font-weight: 900;
				font-size: 20px;
				color: $theme-col;
			}
			p{
				color: #909090;
				font-size: 14px;
			}
		}
	}
}


// css for get started
.get-started-banner{
	background-image: url("../img/banner.jpg");
	background-size: cover;
	background-position: center;

	.get-started-body{
		text-align: center;
		padding: 100px 0;

		h2{
			font-size: 30px;
			font-weight: 900;
			color: #ffffff;
		}
		p{
			font-size: 18px;
			font-weight: 100;
		    color: rgb(255, 255, 255);
		    line-height: 34px;
		    max-width: 640px;
		    text-align: center;
		    margin: 0 auto;
		    padding-bottom: 25px;
		}
	}
}