@font-face {
    font-family: gothams;
    src: url(../fonts/GothamPro-Light.woff);
    font-weight: 100;
}

@font-face {
    font-family: gothams;
    src: url(../fonts/GothamPro-Medium.woff);
    font-weight: normal;
}

@font-face {
    font-family: gothams;
    src: url(../fonts/GothamPro-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: gothams;
    src: url(../fonts/GothamPro-Black.woff);
    font-weight: 900;
}

body{
	width: 100%;
	font-family: 'gothams';
	background-color: #E3E3E3;
}

$theme-col: #6C65AD;
$theme-col2: #6585C3;
$gradient: linear-gradient(to bottom right, #6C65AD, #6585C3);
$free-col: #95A5A6;
$silver-col: #BEBDC1;
$gold-col: #F8973F;
$diamond-col: #3498DB;
$para-col: #9F9F9F;

.btn{
	&:focus{
		outline: none;
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.14);
	}
}
.banner-btn{
	border: 2px solid #ffffff;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 2px 20px;
	&:hover{
		background-color: #ffffff;
		color: $theme-col2;
		transition: 0.3s ease;
	}
}

.main-btn{
	border: 2px solid $theme-col;
	border-radius: 5px;
	color: $theme-col;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 4px 20px;
	&:hover{
		background-color: $theme-col;
		color: #ffffff;
		transition: 0.3s ease;
	}
}

.divider{
	display: block;
	height: 100px;
}

.view-all{
	text-align: center;
	padding-top: 20px;
	a{
		text-decoration: underline;
		color: $theme-col;
		font-size: 20px;
		font-weight: bold;
		display: inline-block;
		text-transform: uppercase;
		transition: 0.3s ease;
		&:hover{
			color: $theme-col2;
		}
	}
}

.main-header{
	margin-bottom: 40px;
	padding: 0;
	font-size: 32px;
	text-align: center;
	font-weight: bold;
	color: $theme-col;
	text-transform: uppercase;
}

.main-form{
	background-color: #fff;
	padding: 20px 15px;
	border-radius: 8px;
	
	.mgb4{
		margin-bottom: 4px;
	}
	.form-group{
		margin-bottom: 5px;
	}
	.form-check{
		margin-bottom: 5px;
		label{
			font-weight: 100;
			color: $para-col;
			a{
				color: $para-col;
				font-weight: bold;
				&:hover{
					color: $theme-col;
					text-decoration: none;
				}
			}
		}
	}
	.form-header{
		font-weight: 900;
		font-size: 20px;
		color: $theme-col;
		margin-bottom: 12px;
		text-transform: uppercase;
	}
	label{
		margin-bottom: 2px;
		color: $para-col;
	}
	.form-control{
		font-weight: 100;
		color: $para-col;
		border: 2px solid $para-col;
		&::placeholder{
			font-style: italic;
		}
		&:focus{
			outline: none;
			box-shadow: none;
			border-color: #000;
		}
	}
	.small, small{
		font-weight: 100!important;
	}

	.form-footer-info{
		margin-top: 20px;
		margin-bottom: 0;
		font-weight: 100;
		color: $para-col;
		a{
			color: $para-col;
			font-weight: bold;
			&:hover{
				color: $theme-col;
				text-decoration: none;
			}
		}
	}
	.other-link{
		margin-top: 8px;
		display: block;
		p{
			margin-bottom: 0;
		}
	}
	.normal-link{
		font-weight: 100;
		color: $para-col;
		display: inline-block;
		&:hover{
			color: $theme-col;
			text-decoration: none;
		}
	}
}

// css for header
.hero-content{
	min-height: 100vh;
	background-image: $gradient;
	background-color: $theme-col;
	width: 100%;
	position: relative;
	header{
		background-image: none!important;
		background-color: transparent!important;
	}

	.hero-banner{
		overflow: hidden;
		position: absolute;
	    top: 50%;
    	transform: translateY(-50%);
		left: 0;
		width: 100%;

		.banner-content{
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 15px;
			overflow: hidden;
			display: flex;
			align-items:center;
			flex-direction: row-reverse;
			.hero-right-content{
				flex-basis: 50%;
				text-align: center;

				img{
					display: inline-block;
					width: 100%;
					max-width: 330px;
				}
			}

			.hero-left-content{
				flex-basis: 50%;
				padding: 0px 20px;

				h2{
					font-size: 45px;
					font-weight: 900;
					color: #ffffff;
					text-transform: uppercase;
				}

				p{
					font-size: 20px;
					font-weight: normal;
					color: #ffffff;
				}
			}
		}
	}
}

header{
	background-image: $gradient;
	background-color: $theme-col;
	padding: 0 15px;
	overflow: hidden;

	.left-header{
		float: left;
		padding: 18px 0px;
		.logo{
			img{
				width: 170px;
			}
		}
	}

	.right-header{
		float: right;
		padding: 22px 0;

		ul{
			padding: 0;
			margin: 0;
			li{
				list-style: none;
				float: left;
				padding: 0 20px;

				a{
					color: #fff;
					font-size: 15px;
					font-weight: 900;
					text-transform: uppercase;
					&:hover{
						text-decoration: none;
					}
				}
				&:first-child{
					padding-left: 0;
				}
				&:nth-last-child(2){
					padding-right: 0;
				}

				button{
					padding: 0;
					margin: 0;
					background: transparent;
					border: none;
					color: #fff;
					cursor: pointer;
					&:focus{
						outline: none;
					}
				}
			}
			.menu-icon{
				display: none;
			}
		}
	}
}
.max-container{
	padding: 0 15px;
	max-width: 1366px;
	margin: 0 auto;
}

.search-bar{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.55);
	top: 0;
	left: 0;
	display: none;

	.search-box{
		width: 100%;
		background-image: $gradient;
		background-color: $theme-col;
		padding: 21px 0;
		height: 68px;
		.search-textbox{
			position: relative;
			.search-text{
				width: 100%;
				background: transparent;
				border: none;
				// border-bottom: 2px solid #ffffff;
				color: #ffffff;
				font-size: 18px;
				padding-right: 65px;
				&:focus{
					outline: none;
				}
				&::placeholder{
					color: rgba(255, 255, 255, 0.66);
					font-style: italic;
					font-weight: 100;
				}
			}

			.search-btns{
				position: absolute;
				right: 0;
				top: 50%;
			    transform: translateY(-50%);

				ul{
					padding: 0;
					margin: 0;
					li{
						float: left;
						list-style: none;
						padding: 0 8px;

						button{
							padding: 0;
							margin: 0;
							background: transparent;
							border: none;
							color: #fff;
							cursor: pointer;
							font-size: 18px;
							&:focus{
								outline: none;
							}
						}
					}
				}
			}
		}
	}
}

// css for footer
footer{
	.top-footer{
		overflow: hidden;
		background-color: #3D3D49;
		padding: 30px;
		.top-left-footer{
			width: 170px;
			float: left;
			img{
				width: 100%;
			}
		}
		.top-right-footer{
			float: right;
			ul{
				padding: 0;
				margin: 0;
				overflow: hidden;
				li{
					list-style: none;
					float: left;
					padding: 3px 20px;
					a{
						font-weight: 900;
						font-size: 15px;
						color: #ffffff;
						&:hover{
							opacity: 0.8;
							text-decoration: none;
						}
					}
				}
				li:first-child{
					padding-left: 0;
				}
				li:last-child{
					padding-right: 0;
				}
			}
		}
	}

	.bottom-footer{
		background-color: #2E2E2E;
		overflow: hidden;
		.bottom-left-footer{
			float: left;
			p{
				color: #ffffff;
				font-size: 15px;
				margin: 0;
				padding: 10px 0px;
			}
		}
		.bottom-right-footer{
			float: right;
			padding: 10px 0px;
			a{
				color: #ffffff;
				font-size: 15px;
				font-weight: bold;
				&:hover{
					opacity: 0.7;
					text-decoration: none;
				}
			}
		}
	}
}

// responsive menus
.responsive-menubar{
	z-index: 99;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: $gradient;
	background-color: $theme-col;
	display: none;

	.responsive-menus{
		width: 100%;
		padding-top: 200px;

		ul{
			padding: 0;
			margin: 0;
			width: 100%;
			li{
				width: 100%;
				list-style: none;
				text-align: center;

				a{
					display: block;
					font-size: 18px;
					font-weight: bold;
					color: #ffffff;
					padding: 15px 0;
					&:hover{
						text-decoration: none;
						opacity: 0.8;
					}
				}
			}
		}
	}
	
	.close-menu-btn{
		float: right;
		padding-top: 20px;
		.close-menu{
			padding: 0;
			margin: 0;
			background: transparent;
			border: none;
			color: #fff;
			cursor: pointer;
			font-size: 18px;
			&:focus{
				outline: none;
			}
		}
	}
}



// items lists css
.main-lists{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-item: flex-start;
	justify-content: space-between;

	.item{
		flex-basis: 30%;
		overflow: hidden;
		padding-bottom: 20px;
		.left-list-content{
			width: 105px;
			height: 105px;
			border-radius: 10px;
			background-color: #fff;
			position: relative;
			overflow: hidden;
			float: left;
			img{
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
			}
		}
		.right-list-content{
			float: left;
			width: calc(100% - 105px);
			padding-left: 10px;
			h4{
				font-weight: 900;
				font-size: 20px;
				color: $theme-col;
			}
			p{
				color: #909090;
				font-size: 14px;
			}
		}
	}
}


// css for get started
.get-started-banner{
	background-image: url("../img/banner.jpg");
	background-size: cover;
	background-position: center;

	.get-started-body{
		text-align: center;
		padding: 100px 0;

		h2{
			font-size: 30px;
			font-weight: 900;
			color: #ffffff;
		}
		p{
			font-size: 18px;
			font-weight: 100;
		    color: rgb(255, 255, 255);
		    line-height: 34px;
		    max-width: 640px;
		    text-align: center;
		    margin: 0 auto;
		    padding-bottom: 25px;
		}
	}
}


// css for pricing plans

.pricing-plans{
	.plan{
		width: 100%;
		z-index: 0;
		text-align: center;
		background-color: #ffffff;
		border-radius: 10px;
		overflow: hidden;
		padding: 0 15px;
		position: relative;
		.round-bg{
		    width: 400px;
		    background-color: #ECECEC;
		    height: 400px;
		    position: absolute;
		    top: -239px;
		    left: 50%;
    		transform: translateX(-50%);
		    border-radius: 100%;
		    z-index: -1;
		}
		.top-bar{
			padding: 20px 0;
			z-index: 1;
			img{
				height: 65px;
			}
			h4{
				font-weight: bold;
				font-size: 20px;
				margin: 0;
				padding-top: 8px;
			}
			p{
				font-size: 14px;
				font-weight: 100;
			}
		}
		.bottom-bar{
			padding: 20px 0px;
			h2{
				font-size: 22px;
				font-weight: bold;
				margin-bottom: 20px;
			}
			ul{
				padding: 0;
				margin: 0;
				padding-bottom: 5px;
				li{
					color: #000000;
					list-style: none;
					font-size: 14px;
					padding-bottom: 15px;
					font-weight: 100;
				}
			}
		}
	}
	.plan-free{
		h4, h2{
			color: $free-col;
		}
		.free-btn{
			border-color: $free-col;
			color: $free-col;
			&:hover{
				background-color: $free-col;
				color: #ffffff;
			}
		}
	}
	.plan-silver{
		h4, h2{
			color: $silver-col;
		}
		.silver-btn{
			border-color: $silver-col;
			color: $silver-col;
			&:hover{
				background-color: $silver-col;
				color: #ffffff;
			}
		}
	}
	.plan-gold{
		h4, h2{
			color: $gold-col;
		}
		.gold-btn{
			border-color: $gold-col;
			color: $gold-col;
			&:hover{
				background-color: $gold-col;
				color: #ffffff;
			}
		}
	}
	.plan-diamond{
		h4, h2{
			color: $diamond-col;
		}
		.diamond-btn{
			border-color: $diamond-col;
			color: $diamond-col;
			&:hover{
				background-color: $diamond-col;
				color: #ffffff;
			}
		}
	}
}