@media (min-width: 992px){
	.responsive-menubar{
		display: none!important;
	}
}
@media (max-width: 991px) {
	.main-lists{
		.item{
			flex-basis: 48%;
		}
	}

	.right-header{
		ul{
			li{
				display: none;
			}
			li.search-icon{
				display: block;
			}
			li.menu-icon{
				display: block;
			}
		}
	}
	.plan{
		margin: 15px 0;
	}
}

@media (max-width: 767px) {
	.main-lists{
		.item{
			flex-basis: 100%;
		}
	}

	.hero-content{
		.hero-banner{
		    position: relative;
			transform: translate(0);
			max-width: 540px;
			margin: 0 auto;
			.banner-content{
				align-items:flex-start;
				flex-direction: column;
				.hero-left-content{
					flex-basis: 100%;
					padding: 0;
					padding-bottom: 20px;
				}
				.hero-right-content{
					flex-basis: 100%;
					padding-top: 20px;
				}
			}
		}
	}
	footer{
		.top-footer{
			.top-left-footer{
				float: unset;
				padding-bottom: 15px;
			}
			.top-right-footer{
				float: unset;
				ul{
					li{
						float: unset;
						margin: 0;
						padding: 8px 0;
					}
				}
			}
		}
		.bottom-footer{
			.bottom-left-footer{
				float: unset;
			}
			.bottom-right-footer{
				float: unset;
				padding: 0;
			}
		}
	}
}